@charset "EUC-KR";

body{
	padding-top: 100px;
}

.wizard {
    margin: 20px auto;
    background: #fff;
}

    .wizard .nav-tabs {
        position: relative;
        margin: 40px auto;
        margin-bottom: 0;
        border-bottom-color: #e0e0e0;
    }

    .wizard > div.wizard-inner {
        position: relative;
    }

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}
span.round-tab i{
    color:#555555;
}
.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid #5080BF;
    
}
.wizard li.active span.round-tab i{
    color: #5080BF;
}

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs > li {
    width: 25%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #5080BF;
    transition: 0.1s ease-in-out;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #5080BF;
}

.wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

    .wizard .nav-tabs > li a:hover {
        background: transparent;
    }

.wizard .tab-pane {
    position: relative;
    padding-top: 50px;
}

.wizard h3 {
    margin-top: 0;
}

@media( max-width : 585px ) {

    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
}

/* ------------------------------------------------------------------------------ */
button.next-step, button.next-step:hover, button.next-step:after{
	font-size: 13px;
	margin: 0;
	width: 100%;
    color: #fff;
    outline: none;
    background: #84C1D9;
    border-radius: 1px;
    height: 40px;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.428571429;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    border: 1px solid rgba(111, 121, 122, 0.3);
}

.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open>.dropdown-toggle.btn-default {
    color: #fff;
    background-color: #84C1D9;
    border-color: #84C1D9;
}

button.prev-step, button.prev-step:hover, button.prev-step:after{
	font-size: 13px;
	margin: 0;
	width: 100%;
    color: #fff;
    outline: none;
    background: #84C1D9;
    border-radius: 1px;
    height: 40px;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.428571429;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    border: 1px solid rgba(111, 121, 122, 0.3);
}




/* 우편번호 전체 */
#contact-section div#zipcode-section2{ 
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin:0px;
	padding-bottom: 15px;
}

/* 우편번호 input 태그 */
#contact-section input#fakezipcode{
  width: 80%;
}

/* 우편번호 버튼 */
#contact-section button#zipcode-find{
	font-size: 13px;
	margin: 0;
	width: 18%;
    color: #fff;
    outline: none;
    background: #5080BF;
    border-radius: 1px;
    height: 40px;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.428571429;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    border: 1px solid rgba(111, 121, 122, 0.3);
}


.list-inline > li.step-li {
    display: inline-block;
    margin: 0px;
    padding: 0px;
}
#contact-section div.pickercss{
	margin-bottom: 15px;
}


#contact-section div.pickercss input{
	width: 100%;
    height: 40px;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.428571429;
    background-color: #fff;
    background-image: none;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    border-radius: 1px;
    border: 1px solid rgba(111, 121, 122, 0.3);
    -webkit-box-shadow: none;
}

.add_btn{
	width : 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-direction: row;
	padding: 0px;
}

.add_btn i{
	font-size: 13px;
}

.add_btn p.btn_icon{
	font-size: 11px;
	font-weight: bold;
	padding: 5px 15px 5px 15px;
	border-radius: 0px;
    background-color: #A3D0EB;
    color: #fff;
    cursor: pointer;
}

div#submit{
	width: 100% !important;
	display: flex !important;
	justify-content: center !important;
}

.btn-send{
	width: 30% !important;
	margin-top: 40px !important;
    color: #fff !important;
    outline: none !important;
    background: #5080BF !important;
}


/* ========================
	파일 업로드
   ========================
 */
 
 body {
  padding: 0px;
  margin: 0px;
  font-family: 'Malgun Gothic';
  background-color: #ffffff;
}

.file-upload {
  background-color: #ffffff;
  width: 100%;
  margin: 0px 0px 20px 0px;
  padding: 0px;
}

.file-upload-btn {
  font-size: 13px;
  width: 100%;
  margin: 0;
  color: #222;
  background: #F2EDDC;
  border: none;
  padding: 10px;
  border-radius: 0px;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: bold;
}

.file-upload-btn:hover {
  background: #F2EDDC;
  color: #222;
  transition: all .2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: relative;
  height: 0px !important;
  margin: 0;
  padding: 0;
  outline: none;
  opacity: 0;
  cursor: pointer;
  display: block;
}

.image-upload-wrap {
  margin-top: 20px;
  border: 4px dashed #F2EDDC;
  position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
 
  background-color: #ffffff;
  border: 4px dashed #F2EDDC;
}

.file-upload-content{
	margin-top: 20px;
	background-color: #ffffff;
 	border: 4px dashed #F2EDDC;
}


.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  text-transform: uppercase;
  color: #222;
  padding: 60px;
}

.file-upload-image {
  max-height: 100%;
  max-width: 100%;
  margin: auto;
  padding: 20px 0px 20px 0px;
}

.remove-image {
  font-size: 13px;
  width: 200px;
  margin: 0;
  color: #fff;
  background: #402211;
  border: none;
  padding: 10px;
  transition: all .2s ease;
  outline: none;
  font-weight: bold;
}

.remove-image:hover {
  background: #402211;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all .2s ease;
}



